= javascript_pack_tag 'index'

.row.segment
  .col-md-2.header-segment
    .logo
      = image_tag('product_plan_logo.gif')
      %span
        ProductPlan
        %sup
          &reg;
  .col-md-10.header-segment
    %span
      Candidate Roadmap
.row.segment
  .col-md-12
    %h1
      Product roadmap
.row
  .col-md-10.main-content
    %ul#main-navigation.pull-right.text-left
      %li.active
        Roadmap
      %li
        Planning Board
      %li
        Parking Lot
    #productPlanContainer
      .col-md-12
        .col-md-2
          2018
          %br
          .col-md-6.column
          .col-md-6.column
        .col-md-3
          Q1 2019
          %br
          .col-md-4.column
          .col-md-4.column
          .col-md-4.column
        .col-md-3
          Q2
          %br
          .col-md-4.column
          .col-md-4.column
          .col-md-4.column
        .col-md-3
          Q3
          %br
          .col-md-4.column
          .col-md-4.column
          .col-md-4.column
        .col-md-1
          Q4
          %br
          .col-md-12.column
      .col-md-12
        #productRows
  .col-md-2.sidebar-left
    %ul#side-navigation
      %li#addLane
        %span
          = image_tag('item_icon.gif')
          Add lane
      %li#addBar
        %span
          = image_tag('item_icon.gif')
          Add bar
    #tourSteps
      .modal#step1
        .panel
          .panel-body
            .row
              = render "layouts/step1"

      .modal#step2
        .panel
          .panel-body
            .row
              = render "layouts/step2"
      .modal#step3
        .panel
          .panel-body
            .row
              = render "layouts/step3"
